.tag {
    background-color: rgb(255, 255, 255);
    padding: 5px 15px;
    border: 2px solid rgb(242, 242, 242);
    color: black;
    border-radius: 15px;
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag button {
    background: none;
    border: none;
}
.tag img {
    margin-left: 10px;
    width: 0.6rem;
    height: 10px;
}