.postPage-main {
    display: grid;
    padding: 0 60px;
    gap: 40px;
    grid-template-columns: 1000px 1fr;
}

.postPage-main-postArea {
    background-color: white;
    box-shadow: 
    3px 3px 10px rgba(0, 0, 0, 0.1), 
    -1px -1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}
.postPage-main-postArea-tagsArea{
   text-align: center;
   font-size: 18px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.postPage-main-postArea-tagsArea div{
    display: flex;
    text-align: center;
    justify-content: center;
}
.postPage-main-share {
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 30px 40px;
}
.postPage-main-share div{
    background-color: rgb(232, 236, 236);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    width: 600px;
}
.postPage-main-share div p {
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.postPage-main-share img {
    width: 30px;
}