.draft-main {
    position:absolute;
    top: auto;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.draft-main-body {
    height: 100%;
    width: 1000px;
    display: grid;
    grid-template-columns: 150px 1fr;
}
.draft-main-side {
    display: grid;
    grid-template-rows: 90px 40px;
    grid-auto-rows: 40px;
    background-color: #21252d;
}
.draft-main-side h3{
    margin: 0;
    font-size: 25px;
    color: white;

}
.draft-main-side-top {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.draft-main-side-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}
.draft-main-side-container button{
    font-size: 20px;
    background: none;
    border: 0;
    color: aliceblue;
}
.draft-main-body-area {
    padding-top: 40px;
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}