
.publish-main {
    position:fixed;
    display: flex;
    padding: 50px 0;
    justify-content: center;
    top: auto;
    left: 0;
    background-color: rgb(245, 244, 244);
    height: 100vh;
    width: 100vw;
}
.publish-main-body {
    height: 600px;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    display: grid;
    grid-template-columns: 500px 1fr;
}
.publish-main-body-preview {
    display: flex;
    align-items: center;
    justify-content: center;
}
.publish-main-body-set {
    padding: 20px 30px;
}
.publish-main-body-set-description textarea {
    outline: none;
    background: none;
    width: 400px;
    height: 200px;
    padding: 20px 10px;
    resize: none;
    background-color: rgb(209, 209, 209);
    border: 0;
    font-size: 20px;
}
.publish-main-body-set-tags-area {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.publish-main-publish-button {
    position: absolute;
    top: 590px;
    left: 600px;
    background-color: rgb(24, 13, 39);
    color: white;
    font-size: 15px;
    outline: none;
    border: 0;
    width: 200px;
    height: 40px;
}
.publish-main-quit-img {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 40px;
}
.publish-main-body-set-tags-box {
    background-color:rgb(235, 235, 235);
    width: 100%;
    outline: none;
    border: 0;
    height: auto;
    padding: 10px 20px;
}
.publish-main-body-set-tags-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    border: 0;
}
.publish-main-body-set-tags-display {
    margin-top: 10px; 
    flex-wrap: wrap;
    width: 100%;
    overflow:auto;
    height: 120px;
    display: flex;
    gap: 10px;
}