// title font
.font-t{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
// body font
.font-b {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.font-tm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
// header font
.font-h {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}