.icon-cont-lg {
    height: 3rem;
    width: auto;
}
.icon-cont-sm {
    height: 1.5rem;
    width: auto;

}
.icon-cont-xsm {
    height: 1rem;
    width: auto;

}
.icon-cont-xxsm {
    height: 0.6rem;
    width: auto;

}
.icon-cont-mi {
    height: 2rem;
    width: auto;
}

