.wholePost-main {
    width: 1000px;
}
.wholePost-main img {
    height: auto;
    width: 1000px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.wholePost-main h2 {
    padding: 0 30px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    height: auto;
    color: rgb(35, 15, 53);
    overflow: hidden;
}
.wholePost-main-info {
    padding: 0 30px;
    color: rgb(35, 15, 53);
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    justify-content: center;
}
.wholePost-main p {
    padding: 0 40px;
}