
.post {
    display: grid;
    grid-template-columns: 1.5fr 1.1fr;
    height: auto;
    margin-bottom: 50px;
    grid-template-areas: 
    'banner texts';
}
.bannerArea {
    grid-area: banner;
}
.textsArea {
    grid-area: texts;
    display: grid;
    grid-template-rows: 0.6fr 1fr 0.5fr 1fr;
}
.titleArea {
    margin: 0;
    padding: 5px 15px;
    height: 50px;
    overflow: hidden;
}
.labelArea {
    padding: 5px 15px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonArea {
    background-color: black;
    color: white;
    padding: 7px 14px;
    border-radius: 20px;
    outline: none;
    border: 0;
    width: 200px;
    margin: 0 auto;
}