.container {
    width: 1430px;
    height: 100vh;
}
.mainArea {
    display: flex;
    justify-content: center;
}
.outsideContainer {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
.BothContainer {
    display: flex;
    height: 100vh;
    position: absolute;
}
.divider {
    position: relative;
    width: 3px; 
    height: 100vh; 
    margin: 0 10px;
}