
.navbar {
    font-size: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.buttons {
    font-weight: bold;
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.Publish {
    font-size: 15px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 15px;
    padding: 7px 15px;
}
.Save {
    font-size: 15px;
    background-color: whitesmoke;
    color: darkgrey;
    border: 0px;
    border-radius: 15px;
    padding: 7px 15px;
}
.logo {
    color: black;
    width: 40px;
}