.editBody {
    width: 700px;
    height: 100vh;
}
.body {
    width: 700px;
    margin: 0 auto;
    height: 100vh;
}
.title {
    padding: 5px 20px;
}

.bannerImg {
    width: 100%;
}
.contentArea {
    border: 0;
    padding: 5px 20px;
    width: 100%;
    height: auto;
    font-size: 20px;
    color: #6d6b6b;
    resize: none;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    overflow: hidden;
}
 
.editContentArea {
    border: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
    color: #6d6b6b;
    resize: none;
    padding: 5px 20px;
    overflow: hidden;

}
.preview {
    font-size: 15px;
    justify-content: left;
    display: flex;
}