
.body {
    width: 900px;
    margin: 30px auto;
    align-items: center;
    height: 700px;
}
.previewArea {
    width: 100%;

    display: grid;
    grid-template-columns: 1.7fr 1.1fr;
    gap: 20px;
    margin-bottom: 30px;
}
.publishFormImg {
    border-radius: 4%;
}
.previewTitle {
    margin:0;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: bold;
}
.previewInfo {
    color: #888;
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: bold;
    gap: 20px;
    display: flex;
}
.author{
    color: #888;
    text-decoration: none;
}
.previewDes {
    margin: 10px 0;
    line-height: 1.4rem;
    font-size: 1.2rem;

}
.inputArea {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.titleText {
    font-size: 15px;
    font-weight: normal;
    color: gray;
}
.titleBox {
    padding-left: 20px;
    width: 500px;
    outline: none;
    font-size: 20px;
    height: 50px;
    font-weight: lighter;
    border: 0;
    background-color:rgb(235, 235, 235);
    padding: 10px 20px;
}
.desText {
    font-size: 15px;
    color: gray;
}
.desBox {
    padding: 10px 20px;
    outline: none;
    border: 0;
    resize: none;
    background-color: rgb(235, 235, 235);
    width: 500px;
    height: 100px;
    font-size: 20px;
}
.publishButton {
    background-color: black;
    border: 0;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px 14px;
    border-radius: 15px;
    width: 500px;
}
.tagArea {
    width: full;
    text-align: left;
    font-size: 15px;
}
.tagArea p {
    color: gray;
}
.tagBox {
    background-color:rgb(235, 235, 235);
    width: 100%;
    outline: none;
    border: 0;
    height: auto;
    padding: 10px 20px;
}
.tagInput {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    border: 0;
}
.tagDisplayArea {
    margin-top: 10px; 
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    gap: 20px;
    height: auto;
}