.homePage-main {
    display: grid;
    padding: 20px 100px;
    grid-template-columns: 800px 350px ;
    gap: 40px;
}
.homePage-blog-area {
    display: grid;
    gap: 50px;
}
.homePage-blog-area-recent {
    position: sticky;
    top: 0px;
    height: 1000px;
}