
.sideBar-body {
    display: grid;
    grid-template-rows: 50px 400px 50px 300px;
    gap: 10px;
}
.sideBar-body-divider {
    font-size: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sideBar-body-divider p {
    margin: 0;
}
.sideBar-body-divider div {

    background-color: black;
    width: 180px;
    height: 2px;
}