/* Spinner.css */

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to cover everything else */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 8px solid rgba(128, 128, 128, 0.3); /* Light grey border */
  border-top: 8px solid rgba(128, 128, 128, 0.8); /* Darker grey spinner */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.loading-text {
  color: lightgrey;
  margin-top: 10px;
  font-size: 1.5em;
}
