.draftPost-main {
    width: 720px;
    display: grid;
    grid-template-columns: 120px 470px 130px;
    height: 120px;
    background-color: rgb(255, 255, 255);
}
.draftPost-main-body {
    padding: 10px 20px;
    justify-content: center;
    overflow: hidden;
}

.draftPost-main-body h2 {
    font-size: 13px;
    margin: 0;
}
.draftPost-main-body p {
    margin: 0;
    font-size: 20px;
}
.draftPost-main-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-right: 30px;
    flex-direction: column;

}
.draftPost-main-buttons button{
    outline: none;
    background-color: rgb(21, 18, 21);
    border: 0;
    color: white;
    font-size: 15px;
    padding: 10px;
}