.editHeader-navbar {
    background-color: #373d49;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.editHeader-navbar-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.editHeader-navbar-right {
    padding-right: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.editHeader-navbar-right button{
    outline: none;
    font-size: 15px;
    background: none;
    border: 0;
    color: rgb(205, 205, 205);
}
.editHeader-navbar-right img{
    width: 20px;
}
.editHeader-navbar-item-contanier {
    display: flex;
    align-items: center;
}